apiVersion: v1
kind: Secret
metadata:
  name: teamflow-secrets
  namespace: teamflow
type: Opaque
stringData:
  DB_PASSWORD: "change_me_postgres_password"
  RABBITMQ_PASSWORD: "change_me_rabbitmq_password"
  SECRET_KEY: "change_me_django_secret_key_minimum_50_chars"
  DATABASE_URL: "postgresql://postgres:change_me_postgres_password@teamflow-db:5432/teamflow"
  REDIS_URL: "redis://teamflow-redis:6379/0"
  CELERY_BROKER_URL: "redis://teamflow-redis:6379/0"
  RABBITMQ_URL: "amqp://teamflow:change_me_rabbitmq_password@teamflow-rabbitmq:5672//"
  RABBITMQ_DEFAULT_PASS: "change_me_rabbitmq_password"
